In [1]:
for num in range(0,20):
   print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [2]:
for i in range(10, 21):
    print(i)

10
11
12
13
14
15
16
17
18
19
20

In [13]:
List2 = [10, 20, 14, 55, 43, 87, 76]
print("Number of item in the List2:", len(List2))

Number of item in the List2: 7

In [3]:
text = "Artificial Intelligence"

for ch in text:
    if ch != " ":   
        print(ch)

A
r
t
i
f
i
c
i
a
l
I
n
t
e
l
l
i
g
e
n
c
e

In [4]:
name=input("your name-:")
name=input("your age-:")
name=input("your profession-:")

your name-: kader
your age-: 27
your profession-: IT functional consultant

In [11]:
tup = (5, 'Welcome', 7, 'Geeks')

In [12]:

tup = ()
print(tup)

# Using String
tup = ('Geeks', 'For')
print(tup)

# Using List
li = [1, 2, 4, 5, 6]
print(tuple(li))

# Using Built-in Function
tup = tuple('Geeks')
print(tup)

()
('Geeks', 'For')
(1, 2, 4, 5, 6)
('G', 'e', 'e', 'k', 's')

In [7]:
tup = (1, 'Welcome', 2, 'hope')
print(tup)

(1, 'Welcome', 2, 'hope')

In [8]:
tup1 = (0, 1, 2, 3)
tup2 = ('python', 'HOPE')
tup3 = (tup1, tup2)
print(tup3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [9]:
numbers = (20, 10, 16, 19, 25, 1, 276, 188)

for n in numbers:
    if n % 2 != 0:
        print(n, "is odd")

19 is odd
25 is odd
1 is odd

In [10]:
numbers = (20, 10, 16, 19, 25, 1, 276, 188)

for n in numbers:
    if n % 2 == 0:
        print(n, "is even")

20 is even
10 is even
16 is even
276 is even
188 is even